.signup-page{
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup{
  margin: 10px auto;
  width: 35%;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 25px;
}

.signup-from{
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  grid-gap: 10px;
}

.signup-from>input,Button{
  height: 10vh;
  padding: 10px;
}

