.buttonSection{
  display: flex;
  justify-content: space-around; 
  margin-bottom: 5vh;
}

.buttonGroup4{
 display: grid;
 grid-template-columns: repeat(4, 2fr);
 grid-gap: 50px;
}

.buttonGroup2{
 display: grid;
 grid-template-columns: repeat(2, 2fr);
 grid-gap: 50px;
}