.header-container{
  display: flex;
  height: 100px;
  border-bottom: 1px solid #ddd;
  color: #ddd;
}

.header-logo{
  height: 80px;
}

.links-container{
  width: 72%;
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.header-links{
  margin: auto 15px;
  text-decoration: none;
  color: #ddd;
  font-size: large;
}

.header-links:hover{
  color: yellow;
  font-size: x-large;
}

.header-user{
  display: flex;
  align-items: center;
}

